* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
}