.container {
    width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input, button {
    margin-top: 20px;
    min-height: 50;
}

table, td, th {
    border: 1px solid black;
}

td {
    padding: 0 20px;
    text-align: center;
}